version: 2
updates:
    - package-ecosystem: "uv"
      target-branch: "main"
      directory: "/"
      schedule:
          interval: "weekly"
      open-pull-requests-limit: 10

    - package-ecosystem: "github-actions"
      directory: "/"
      target-branch: "main"
      schedule:
          interval: "weekly"
      open-pull-requests-limit: 10

    
    - package-ecosystem: "docker"
      directory: "/"
      target-branch: "main"
      schedule:
          interval: "weekly"
      open-pull-requests-limit: 10
