name: StarWarden Build

on:
    release:
        types: [published]
    workflow_dispatch:

env:
    DOCKER_IMAGE: rtuszik/starwarden

jobs:
    build-and-push:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6.0.2

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}
            - name: Extract metadata (tags, labels) for Docker
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: ${{ env.DOCKER_IMAGE }}
                  tags: |
                      type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}
                      type=semver,pattern={{version}},enable=${{ github.event_name == 'release' }}
                      type=semver,pattern={{major}}.{{minor}},enable=${{ github.event_name == 'release' }}
                      type=ref,event=branch
                      type=ref,event=pr
                      type=sha,prefix=sha-

            - name: Build and push
              id: docker_build
              uses: docker/build-push-action@v6
              with:
                  context: .
                  file: ./Dockerfile
                  push: ${{ github.event_name != 'pull_request' }}
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}
                  cache-from: type=registry,ref=${{ env.DOCKER_IMAGE }}:buildcache
                  cache-to: type=registry,ref=${{ env.DOCKER_IMAGE }}:buildcache,mode=max
                  platforms: linux/amd64,linux/arm64

            - name: Image digest
              run: echo ${{ steps.docker_build.outputs.digest }}
